.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* height: 60px;
    line-height: 60px; */
    background-color: #fff;
}
.footer .nav-link {
    padding: 0 1rem !important;
}
.footer li{
    font-size: 0.8m;
}
.reset {
    margin: 0 !important;
    padding: 0 !important;
}